*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,rgb(138, 135, 235), rgb(51, 203, 195), rgb(12, 12, 170));
}
.container{
    width: 700px;
    height: 350px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(2, 2, 47);
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: center;
}
.container h1{
    color: rgb(41, 170, 174);
}
.container span{
    color: rgb(41, 55, 243);
}
.container .input-field{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(51, 203, 195);
    border-radius: 10px;

}
.input-field input{
    width: 70%;
    padding: 8px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 18px;
}
.input-field button{
    width: 25%;
    padding: 8px;
    border-radius:5px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color:rgb(41, 55, 243);

}
.input-field button:hover{
    background-color: rgb(9, 39, 38);
    color: white;
}
.container .action{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;

}

